# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [8]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import pathlib as path
# Import API key
from config import g_key

In [9]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [7]:
# Read the WeatherPy_vacation.csv into a DataFrame
file_path = "../Vacation Search/WeatherPy_vacation.csv"
# Load the CSV file into a Pandas DataFrame
vacation_df = pd.read_csv(file_path)

# Display sample data
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Sidi Ali,DZ,61.57,broken clouds,36.0998,0.4206,Khaled
1,4,Port Alfred,ZA,71.19,overcast clouds,-33.5906,26.8910,The Halyards Hotel & Spa
2,6,Filingue,NE,74.08,overcast clouds,14.3521,3.3168,Chez Zarkilou Issa
3,7,Salta,AR,90.19,scattered clouds,-24.7859,-65.4117,Hotel Alejandro I
4,9,Mataura,NZ,63.48,overcast clouds,-46.1927,168.8643,Ellie's Villa

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [10]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [11]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [14]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start = vacation_df.loc[(vacation_df["City"] == "Nelson Bay")] 
vacation_end = vacation_df.loc[(vacation_df["City"] == "Nelson Bay")] 
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Flinders")] 
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Bathurst")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Dubbo")]
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
143,265,Dubbo,AU,73.53,broken clouds,-32.25,148.6167,Quality Inn Dubbo International

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [58]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.


start = vacation_start.to_numpy()
start = start[0][5:7]
end = vacation_end.to_numpy()
end = end[0][5:7]
stop1 = vacation_stop1.to_numpy()
stop1 = stop1[0][5:7]
stop2 = vacation_stop2.to_numpy()
stop2 = stop2[0][5:7]
stop3 = vacation_stop3.to_numpy()
stop3 = stop3[0][5:7]
stop3

array([-32.25, 148.6167], dtype=object)

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [60]:
# Define a new figure object
fig = gmaps.figure()

# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
vacation_itinerary = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], 
                                            travel_mode='BICYCLING')

# Add the layer to the map
fig.add_layer(vacation_itinerary)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [61]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,186,Nelson Bay,AU,78.10,light rain,-32.7167,152.1500,Mantra Nelson Bay
1,390,Flinders,AU,80.06,overcast clouds,-34.5833,150.8552,Shellharbour Resort & Conference Centre
2,437,Bathurst,AU,68.83,moderate rain,-33.4166,149.5806,Bathurst Motor Inn
3,265,Dubbo,AU,73.53,broken clouds,-32.2500,148.6167,Quality Inn Dubbo International

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [62]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info =  [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]


# Get the latitude and longitude from each row and store in a new DataFrame.
locations = locations = itinerary_df[["Lat", "Lng"]]

In [63]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Define a new figure object
fig = gmaps.figure()

# Add the layer to the map
fig.add_layer(marker_layer)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))